{% extends 'default.twig' %}

{% block content %}
    <div>
        <h3 class="page-title">Liste des utilisateurs (Public)</h3>

        {% if users is not empty %}
            <table class="table table-striped">
                <thead>
                    <th>Nom</th>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td><a href="{{ URL }}/user/{{ user.name }}">{{ user.name }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Il n'existe aucun utilisateur public</p>
        {% endif %}
    </div>
{% endblock %}