{% extends 'default.twig' %}

{% block content %}
    <div>
        <a href="{{ URL }}/project/new" class="">Créer un nouveau projet</a>
    </div>
    <ul class="nav nav-tabs margin-top">
        <li role="presentation" class="active"><a href="">Vos projets</a></li>
        <li role="presentation"><a href="{{ URL }}/projects/associate">Projet aux quels vous êtes associés</a></li>
    </ul>
    <div>
        {% include 'templates_pages/projects/list_projects.twig' %}
    </div>
{% endblock %}