{% extends 'default.twig' %}

{% block content %}
    {% include 'templates_pages/projects/modules/sidebar_project.twig' %}

    <h3 class="page-title">{{ project.name }}<span class="pull-right"><a href="{{ project.url_project }}" class="btn btn-default btn-accessproject">Accéder au projet</a></span></h3>
    <div>
        <p>{{ project.description }}</p>
    </div>
{% endblock %}