{% extends 'base.twig' %}

{% block article %}
    {% if breadcrum is defined %}
        <p class="breadcrum">
            {% for name, url in breadcrum %}
                {% if loop.last %}
                    <span class="breadcrum-nolink">{{ name }}</span>
                {% else %}
                    <span><a href="{{ url }}">{{ name }}</a></span> ›
                {% endif %}
            {% endfor %}
        </p>
    {% endif %}

    {% block content %}{% endblock %}
{% endblock %}