<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/assets/libraries/css/bootstrap.css">
        <title>PanelDev - Erreur 500</title>
    </head>
    <body>
        <div class="container">
            <header>
                <h1><a href="/">PanelDev</a></h1>
                <h2>Erreur</h2>
            </header>
            <section>
                <article class="text-center">
                    <h3>Erreur 500</h3>
                    <p>Une erreur interne du serveur est survenu, veuillez essayer de rafraîchir la page, si ceci ne fonctionne pas, veuillez contacter le support.</p>
                </article>
            </section>
        </div>
    </body>
</html>