{% extends 'default.twig' %}

{% block complement_js %}
    {% include 'templates_pages/home/js_home.twig' %}
{% endblock %}

{% block content %}
    {#
    <div class="col-md-6 col-nopadding">
        <h3 style="border-bottom:1px solid #C8C8C8">Projets</h3>

        {% include 'templates_pages/home/projects_home.twig' %}
    </div>
    <div class="col-md-6 col-nopadding">
        <h3 style="border-bottom:1px solid #C8C8C8">Analyse</h3>
        <div id="canvas-holder" style="width:150px;margin:auto">
            <canvas id="chart-area" width="100" height="100"></canvas>
        </div>
    </div>
    #}
{% endblock %}
