{% extends 'default.twig' %}

{% block complement_js %}
    <script src="{{ URL }}/assets/js/apps/print3d/gcode.js"></script>
{% endblock %}

{% block content %}
    {% include 'templates_apps/print3d/print3d.twig' %}

    {#Block1: Download#}
    <div class="content-block">
        <h4>GCode</h4>
        <img src="{{ URL }}/assets/loader/ring-alt.svg" alt="Chargement..." width="100px" height="100px" class="center-block"/>
    </div>
{% endblock %}