{% extends 'default.twig' %}



{% block content %}
    {% embed 'templates_apps/print3d/print3d.twig' %}
        {% block sidebarButtons %}
            <span><a href="{{ URL }}/project/{{ project.url }}/infos/update">Modifier</a></span>
        {% endblock %}
    {% endembed %}

    {#Block1: Download#}
    <div>
        {% if print3d.infos is empty %}
            <h4>Aucune information n'a encore été ajouter.</h4>
        {% else %}
            {{ print3d.parsedInfos|raw }}
        {% endif %}
    </div>
{% endblock %}