{% extends 'default.twig' %}

{% block content %}
    {% include 'templates_apps/print3d/print3d.twig' %}

    {#Block1: Download#}
    <div class="col-md-6 content-block">
        <h4>GCode</h4>
    </div>
{% endblock %}