{% extends 'default.twig' %}

{% block content %}
    <div class="sidebar">
        <span><a href="{{ URL }}/historic">Retour</a></span>
    </div>

    <h3 class="page-title">Historique</h3>
{% endblock %}