#RewriteEngine
    RewriteEngine on

#RewriteRule
    RewriteRule ^$ controllers/home/api_home.php [L]

    #Users
        RewriteRule ^users$ controllers/users/api_users_list.php [L]
        RewriteRule ^user/(\d+)$ controllers/users/api_users_get.php?id=$1 [L]

    #Projects
        RewriteRule ^projects$ controllers/projects/api_projects_list.php [L]
        RewriteRule ^projects/(\w+)$ controllers/projects/api_projects_list.php?username=$1 [L]
        RewriteRule ^project/(\w+)$ controllers/projects/api_project.php?url=$1 [L]